package templates

import "github.com/spcameron/press"

templ Base(page press.PageData, content templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<title>{ page.Title }</title>
			<link rel="stylesheet" href="{ page.Site.StylesheetURL }"/>
		</head>
		<body>
			@SiteHeader()
			<main id="content">
				@content
			</main>
			@SiteFooter()
		</body>
	</html>
}
