package templates

templ Base(title string, content templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/css/styles.css"/>
		</head>
		<body>
			@SiteHeader()
			<main id="content">
				@content
			</main>
			@SiteFooter()
		</body>
	</html>
}
