package templates

import "github.com/spcameron/press"

templ BlogPost(data press.BlogPostPageData) {
	@Base(data.Page, BlogPostContent(data.Post))
}

templ BlogPostContent(p press.Post) {
	<article>
		<h2>{ p.Title }</h2>
		if !p.Date.IsZero() {
			<p><em>{ p.Date.Format("Jan 2, 2006") }</em></p>
		}
		@MarkdownHTML(p.Body)
	</article>
}
