package templates

import "github.com/spcameron/press"

templ Home(data press.HomePageData) {
	@Base(data.Page, HomeContent(data))
}

templ HomeContent(data press.HomePageData) {
	<h2>Welcome</h2>
	<p>This is my site.</p>
}
